.tunghoa{
    padding: 10px;
    color: white;
    background-color: black;
}
.Post {
    padding: 10px;
    color: antiquewhite;
    background-color: blueviolet;
    font-family: "Icons16", sans-serif;
}